body{
    overflow-y:scroll;
}



/* div sizes */
.w-2{
    width: 50px;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-90{
    width: 90%;
}
.w-100{
    width: 100%;
}

.h-2{
    height: 50px;
}
.h-20{
    height: 40px;
}
.h-30{
    height: 30%;
}
.h-50{
    height: 50%;
}
.h-80{
    height: 80%;
}
.h-100{
    height: 100%;
}


/* margin */
.t-2{
    top: 10%;
}
.t-10{
    top: 10%;
}
.l-2{
    left: 5%;
}
.l-5{
    left: 5%;
}
.l-30{
    left: 30%;
}
.l-55{
    left: 50%; 
}
.mt-2{
    margin-top: 2%;
}
.mb-5{
    margin-bottom: 5%;
}
.mb-9{
    margin-bottom: 9%;
}

/* padding */
.pad-5{
    padding: 5%;
}
.pad-t-2px{
    padding-top: 5px;
}
.pad-t-10{
    padding-top: 10%;
}
.pad-l-5{
    padding-left: 5%;
}
.pad-lr-10{
    padding-left: 10%;
    padding-right: 10%;
}
.pad-b-1p{
    padding-bottom: 1px;

}

/* radius */
.b-rad-5p{
    border-radius: 4px;
}
.b-rad-30p{
    border-radius: 30px;
}
.b-tb-rad-30p{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* colors */
.grey-bg{
    background-color: #DEE1E2;
}
.white-bg{
    background-color: white;
}
.black-bg{
    background-color: black;
}

.font-w{
    color:white;
}
.font-g{
    color: gray;
}

/* text */
.t-a-c{
    text-align: center;
    justify-content: center;
  align-items: center;
}
.fw-400{
    font-weight: 400;
}
.text-al{
    text-align: right;
}
/*   form  */
.login-form {
	
	margin: 8% auto;
	padding: 4% 10% 2% 10%;
	background: white;
	
}
.highlight{
    border: none;
    border-bottom: 1px solid #757575;
    width: 100%;
    
    font-size: 18px;
}
.group{
    position: relative;
}

input:focus { outline: none; }
label{
    color: #999; 
    position: absolute;
    left: 1%;
    pointer-events: none;
    
	transition: all 0.2s ease;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
	
  transform: scale(.75); left: -3px;
	/* font-size: 14px; */
	color:black;
    
    
    top:-30%;  
}
/* buttons */
.user-login-button{
    cursor: pointer;
    border: 0;
 
}

.forgot-pass{
    display: block;
    margin: 0;
    padding: 5px 0 15px 0;
    max-width: 140px;
    width: auto;
    height: 10%;
    margin: 0 auto;
    float: right;
    text-align: right;
    text-transform: uppercase;
    font-size: .7em;
    color: gray;
    font-weight: 400;
}
.forgot-pass:hover{
    text-decoration: none;
}
.change-home{
    color:black;
    font-weight: 400;
    font-size: .9em;
    margin-left: 2%;
    margin-right: 10%;
}
.change-home:hover{
    text-decoration: none;
}
#inside-box-left{
    width: 50%;
}

/* for mobile compatibility */

@media only screen and (max-width: 1200px) {
    #outside-box-forgot{
        left: 20%;
        width: 60%;

    }
}

@media only screen and (max-width: 800px) {
    #inside-box-right{
        visibility: hidden;
    }
    #inside-box-left{
        left: 10%;
        width: 80% !important;

    }
    #outside-box-forgot{
        left: 5%;
        width: 90%;

    }
  }
  @media only screen and (max-height: 640px){
      #outside-box{
          height:100%;}
    #outside-box-forgot{
        height:100%;
    }
    
  }
  
