<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <link rel="stylesheet" href="static/css/style1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="grey-bg">
    <div class="container">
        <div id="outside-box" class=" position-absolute white-bg w-90 h-80 t-10 l-5 b-rad-30p">
            <div id="inside-box-left" class=" position-absolute h-80 t-2 l-2 ">
                <div class=" ">
                    <div id="i-logo" class=" t-a-c bg-dark w-2 h-2 b-rad-5p d-inline-block pad-t-2px">
                        <h2 class="font-weight-bold font-w"> i</h2> 
                    </div>
                    <div class=" l-2 d-inline-block">
                        <h2>Vote</h2>
                    </div>
                </div>
                <div class="t-a-c pad-5 pad-t-10">
                    <h3 class="">Log in</h3>
                    <form class="login-form" action="/" method = "POST">
                        <div class="group">
                            <input type="text" name="email" class="highlight mb-9" autocomplete="off" autofocus required/>
                            <label class="floating-label">Email</label>
                        </div>
                        <div class="group">
                            <input type="password" name="password" class="highlight mt-2"  autocomplete="off" autofocus required />
                            <label class="floating-label">Password</label>
                        </div>
         
                        <button type="submit" class="user-login-button w-100 black-bg font-w h-20 b-rad-5p ">
                            log in
                        </button>
                    </form>
                    <div class="create-user w-100 text-al">
                        <span class="font-g fw-400 f-r">
                            Not a member ?<a href="signup.html" class="change-home">signup</a> 
                        </span>
                          
                    </div>
                    <div class="admin-user w-100 text-al" >
                        <span class="font-g fw-400 f-r">
                            Are you an admin ?<a href="Login.html" class="change-home">login</a> 
                        </span>
                        <span class="font-g fw-400 f-r">
                        View/Download<a href="viewblockchain.html"change-home">Blockchain</a> 
                        </span>
                            
                    </div>
            
                </div>   
            </div>
            <div id="inside-box-right" class="  position-absolute w-50 h-100 l-55  b-tb-rad-30p">
                <div class="h-30 pad-t-10 pad-lr-10">
                    <p>
                        iVote is a solution dedicated to making every online voting initiative as secure and verifiable as a public election.
                       
                    </p>
                    
                </div>
                <div class="h-50">
                    <img src="static/hero.9dd292ee.png" alt="" class="b-tb-rad-30p" style="max-width: 80%;
                min-height: auto; margin-left: 10%; margin-top:1%;  ">
                </div>
                

            </div>
        </div>
        
      </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>